
.chart-container {
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
}

.form-header {
    margin-bottom: 10px;
    margin-right: 20px;
    color: #ff7700;
}

.chart {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 80px;
    border-radius: 10px;
}