


.form-header {
    margin-bottom: 10px;
    margin-right: 20px;
    color: #ff7700;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ft__dashboard_linechart legend {
    margin-top: 100px;
}

.custom-label {
    margin-top: 10px; /* Adjust the margin-top value as needed */
}


.ft__dashboard_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 80px;
    font-family: var(--font-family);
}